name: CI Sample
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Katalon Studio GitHub Action
      uses: katalon-studio/katalon-studio-github-action@v4.0
      with:
          version: '1.0.0'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -retry=0 -testSuitePath="Test Suites/reqres.in Test" -browserType="Chrome (headless)" --config -webui.autoUpdateDrivers=true'
